
#convert {
    background-color:white;
    border-color: blueviolet;
  }
  #clear {
    background-color: white;
    border-color: blueviolet;
  }
  #convert:hover {
    background-color: orchid;
  }
  #clear:hover {
    background-color: orchid;
  }
  h1 {
   
    color:purple;
  }
  input {
    align-items: center;
    
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: purple;
    border-color: blueviolet;
    
  }
 
  button {
    padding: 10px;
    font-size: 1.2em;
    color: blueviolet;
  }